<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <title>index</title>
        <link href='/static/style.css' rel="stylesheet" />
    </head>


<body>
    <div   style="border-style:solid">
        <div class="parent">
<P>servo0</P>  
<form action="/button_click" method="post">
<button type="submit" class="button-23" role="button" value="0left"	name="button_action"	>左</button>

<button type="submit"	class="button-23" role="button"	value="0right"	name="button_action">右</button>


<br>
<br>
<P>servo1</P>
<button type="submit" value="1up" name="button_action" class="button-23" role="button">上</button>
<button type="submit" value="1down" name="button_action" class="button-23" role="button">下</button>

<br>
<br>
<P>servo2</P>
<button type="submit" value="2up" name="button_action" class="button-23" role="button">上</button>
<button type="submit" value="2down" name="button_action" class="button-23" role="button">下</button>

<br>
<br>
<P>servo3</P>
<button type="submit" value="3up" name="button_action" class="button-23" role="button">上</button>
<button type="submit" value="3down" name="button_action"class="button-23" role="button">下</button>

<br>
<br>
<P> servo4 </P>
<button type="submit" value="4up" name="button_action" class="button-23" role="button">上</button>
<button type="submit" value="4down" name="button_action" class="button-23" role="button">下</button>



<br>
<br>
</div>
</div>
<br>
<br>
<button type="submit" value="5up" name="button_action" class="button-23" role="button">夾起</button>
<button type="submit" value="5down" name="button_action" class="button-23" role="button">放下</button>
</form>


   

    

    </body>

</html>